pandas
numpy
matplotlib
seaborn
scikit-learn
openpyxl
sentence-transformers
pdfplumber
python-docx
spacy

#go to cd path/to/your/folder
#Then run this command to install the dependencies
#pip install -r requirements.txt

#Warning: You have to install python -m spacy download en_core_web_sm individually after 
#installing the dependencies. This is required for the spacy library to work properly.
python -m spacy download en_core_web_sm