pandas
numpy
matplotlib
seaborn
scikit-learn
openpyxl
sentence-transformers
pdfplumber
python-docx
spacy
pydantic
pydantic-settings
httpx
alembic
pymupdf
langchain
langchain-openai
langchain-community
langchain-google-genai
langchain-groq
dotenv
langchain-core
langgraph
arxiv
wikipedia
langchain-tavily
langgraph-cli[inmem]
streamlit
chromadb
langchain-chroma
langchain-huggingface
faiss-cpu
sentry-sdk
slowapi
